body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

a {color: #3b73af; text-decoration: none;}
a:hover, a:focus, a:active {text-decoration: underline;}

/* Tables */
.alignleft {text-align: left}
.aligncenter {text-align: center}
.alignright {text-align: right}

.table {border-collapse: collapse; background-color: #ffffff}
.table td {padding: 2px 6px}
.list {border-collapse: collapse; border: 1px solid lightgray; background-color: #ffffff}
.list td {border: 1px solid #e5e5e5; padding: 2px 6px}
.listheading {background-color: lightgray; font-weight: bold}
.listheading td {white-space: nowrap}
.listrowodd { background-color: white}
.listroweven {background-color: lavender}

/* JQuery */
.ui-datepicker {z-index: 4 !important;}
div.ui-datepicker{
    font-size:10px;
}

.ui-dialog {font-size: 11pt;}
/* JQuery */

.js-example-basic-single {padding-right: 24px;}

.clickable {cursor: pointer;}
.clickable:hover {text-decoration: underline}

/* Material */
.mdl-grid {padding: 0;}
.mdl-layout__drawer .mdl-navigation {padding-top: 8px;}
.mdl-card__title {padding: 8px; background-color: #cedff9;}
.mdl-card__supporting-text {padding: 8px;}
.mdl-card {
    overflow: visible;
    z-index: auto;
}
/* Material */
h1,h2,h3,h4,h5,h6 {margin: 12px 0 8px;}

.sortableHeader {cursor: pointer; color: navy}
.sortableHeaderSelected {cursor: pointer; color: white;}

.editable {}
.editable:hover {background-color: #F5F5F5;}

.SumoSelect.open > .optWrapper {position: absolute}
.SumoSelect > .optWrapper > .options{max-height: 220px}