body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

a {color: #3b73af; text-decoration: none;}
a:hover, a:focus, a:active {text-decoration: underline;}

/* Tables */
.alignleft {text-align: left}
.aligncenter {text-align: center}
.alignright {text-align: right}

.table {border-collapse: collapse; background-color: #ffffff}
.table td {padding: 2px 6px}
.list {border-collapse: collapse; border: 1px solid lightgray; background-color: #ffffff}
.list td {border: 1px solid #e5e5e5; padding: 2px 6px}
.listheading {background-color: lightgray; font-weight: bold}
.listheading td {white-space: nowrap}
.listrowodd { background-color: white}
.listroweven {background-color: lavender}

/* JQuery */
.ui-datepicker {z-index: 4 !important;}
div.ui-datepicker{
    font-size:10px;
}

.ui-dialog {font-size: 11pt;}
/* JQuery */

/* Material */
.mdl-grid {padding: 0;}
.mdl-layout__drawer .mdl-navigation {padding-top: 8px;}
.mdl-card__title {padding: 8px; background-color: #cedff9;}
.mdl-card__supporting-text {padding: 8px;}
/* Material */
h1,h2,h3,h4,h5,h6 {margin: 12px 0 8px;}

.sortableHeader {cursor: pointer; color: navy}
.sortableHeaderSelected {cursor: pointer; color: white;}

.editable {}
.editable:hover {background-color: #F5F5F5;}

/* Media */
@media (min-width: 1175px)
{
}
@media (min-width: 900px) and (max-width: 1174px)
{
    .lowPriority {display:none;}
}
@media (min-width: 700px) and (max-width: 899px)
{
    .mediumPriority {display:none;}
    .lowPriority {display:none;}
}
@media (max-width: 699px)
{
    .mediumPriority {display:none;}
    .lowPriority {display:none;}
}